<div class="answer-summary"><div onclick="window.location.href='<%=biz_bingli_comment_path(bingli_comment)%>'" class="answer-votes" style="cursor:pointer;"><%=bingli_comment.votes_value%></div><div class="answer-link"><%=link_to bingli_comment.bingli_info.title,biz_bingli_comment_path(bingli_comment),{:class=>"answer-hyperlink"}%></div>
</div>