<%=render :partial => "invite_menu"%>
<%= stylesheet_link_tag 'invites' %>

<h1>邀请好友</h1>		
<div id="add_invite">
	<%= render :partial => 'invite_form' %>
	<div style="clear:both;"></div>
</div>
<div style="clear:both;"></div>






