<%#=render :partial => "invite_menu"%>
<%#= stylesheet_link_tag 'invites' %>
<style type="text/css" media="screen">
	.show_invite{
		line-height:20px;
		margin:0px auto;
		font-size:18px;
		width:900;
		padding:20px 20px;
		background-color:#F3F7F8;
	}
</style>

<div id="invite_sent_message" class='show_invite'>
<h2>	您得邀请已经成功发送至 <i><b><%= @invite.email %></b></i></h2>
	<br/>
	信息如下:<br/><br/>
	<b><%= @invite.message %></b>
</div>
<script type="text/javascript" charset="utf-8">
	new Effect.Corner('invite_sent_message', "30px;cc:#ffffff");
</script>