<div class="listbox">
<div class="cnt"> 
    	<ul>
       	  <%= render :partial =>'biz/bingli_infos/bingli_info',:collection => bingli_infos %>
        </ul> 
        <div class="blank"></div> 
        <div class="page"> 
			<%= will_paginate bingli_infos,:class=>"apple_pagination",:params=>{:keshi=>params[:keshi]}%>
            </div> 
            <div class="blank"></div> 
    </div> 
</div>