<%#
Copyright 2009 Timothy Fisher

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>
<div id="thankyou_msg">
	<div class="msg_box">
		感谢您注册医思网社区。您将收到一份激活帐户邮件，里面包含了如何完整注册的步骤。请查收邮件，我们期待您的加入。
	</div>
</div>
