<style type="text/css">
<!--
.area {width:930px;margin:0 auto;}
.area .col1 {width:208px;float:left;}
.area .col1 {width:208px;float:left;border:1px solid #C7E1F2;}
.area .col1 .ctitle {width:208px;height:32px;float:left;background:url(images/bg.gif) left -16px repeat-x;}
.area .col1 .ctitle h2 {line-height:32px;float:left;color:#004B86;font-size:14px;margin:0 10px;display:inline;padding:0px;}
.area .col1 .cont {width:188px;float:left;padding:6px 10px;background:#F6FBFE;}
.area .col1 .cont h3 {width:188px;float:left;color:#0066FF;font-size:14px;height:26px;line-height:26px;font-weight:normal;margin:0;padding:0;}
.area .col1 .cont p {width:188px;float:left;line-height:22px;border-bottom:1px dotted #d8d8d8;padding-bottom:6px;margin:0;padding:0;}
.area .col1 .cont a {font-size:12px;color:#464646;}

.area .col2 {width:490px;float:left;margin-left:8px;}

.area .col3 {width:214px;float:right;border:1px solid #C7E1F2;overflow:hidden;}
.area .col3 .ctitle,.area_right .col2 .cont {width:194px;margin:0 auto;}
.area .col3 .ctitle h2 {color:#EC8115;font-size:14px;height:30px;line-height:30px;border-bottom:1px solid #d8d8d8;padding:0;margin:0;}
.area .col3 .cont p {width:194px;float:left;line-height:22px;padding:6px 0;margin:0 0 0 6px;}
.area .col3 .cont p a{
	color:#0099FF;
	text-decoration: underline;
}

.listbox {width:490px;float:left;}
.listbox .menu {width:490px;height:27px;background:url(images/box_menu_bg.gif) repeat-x;float:left;overflow:hidden;}
.listbox .menu .menu_tab1 {float:left;width:85px;height:27px;line-height:27px;background:url(images/box_menu_tab1.gif) no-repeat;text-align:center;margin:0px 5px;}
.listbox .menu .menu_tab1 a {color:#004483;font-weight:bold;font-size:14px;}
.listbox .menu .menu_tab2 {float:left;width:83px;height:26px;line-height:27px;background:url(images/box_menu_tab2.gif) no-repeat;text-align:center;border:1px #D7E0E5 solid;border-bottom:0px;margin:0px 5px;}
.listbox .menu .menu_tab2 a {font-size:14px;}
.listbox .menu .menu_tab3 {float:left;width:105px;height:26px;line-height:27px;background:url(images/box_menu_tab2.gif) no-repeat;text-align:center;border:1px #D7E0E5 solid;border-bottom:0px;float:right;}
.listbox .menu .menu_tab3 a {color:#F0AE36;font-size:14px;font-weight:bold;}
.listbox .cnt {width:488px;border:1px #D7E0E5 solid;border-top:0px;}
.listbox .cnt ul {
	width:488px;
	margin:0px auto;
	padding:0;
	font-weight: normal;
}
.listbox .cnt li {width:488px;float:left;border-bottom:1px solid #E6E6E6;padding:0;line-height:26px;}
.listbox .cnt li.header {
	background:#F2F9FB;
	height:26px;
	overflow:hidden;
	background-image: url(images/box_menu_tab3.gif);
	background-repeat: repeat-x;
}
.listbox .cnt span.title {width:380px;float:left;padding:0 10px;float:left;}
.listbox .cnt span.time {width:88px;float:left;text-align:center;}
-->
</style>
<script type="text/javascript">

function ContentDivChange(id,idx,allNum)
{
    style1="menu_tab1";
    style2="menu_tab2";
    for(i=1;i<=allNum;i++)
    {
        document.getElementById("Content"+id+"_title_"+i).className=style2;
        document.getElementById("Content"+id+"_div_"+i).style.display="none";
    }
    document.getElementById("Content"+id+"_title_"+idx).className=style1;
    document.getElementById("Content"+id+"_div_"+idx).style.display="block";
    
}


	
function MM_closeTopAd()
{
	document.getElementById("topad").style.display = "none";
}
    </script>



<div class="area">
	<div class="col1">
        	<div class="ctitle">
            	<h2><font color="#000000">交流分类</font></h2>
            </div>
            <div class="cont">
            	<h3>内科</h3>
                <p><a href="#">百日咳</a> <a href="#">病毒性肠炎</a> <a href="#">C喘息样气管炎</a> <a href="#">川崎病</a> <a href="#">抽动综合症</a> <a href="#">抽动障碍</a> <a href="#">D地中海贫血</a> <a href="#">胆汁综合症</a> <a href="#">E儿童遗尿症</a> <a href="#">儿童遗粪症</a> <a href="#">儿童口吃</a> <a href="#">儿童多动症</a> <a href="#">鹅口疮</a> <a href="#">儿童孤独症</a> </p>
                <div class="blank"></div>
                <h3>内科</h3>
                <p><a href="#">百日咳</a> <a href="#">病毒性肠炎</a> <a href="#">C喘息样气管炎</a> <a href="#">川崎病</a> <a href="#">抽动综合症</a> <a href="#">抽动障碍</a> <a href="#">D地中海贫血</a> <a href="#">胆汁综合症</a> <a href="#">E儿童遗尿症</a> <a href="#">儿童遗粪症</a> <a href="#">儿童口吃</a> <a href="#">儿童多动症</a> <a href="#">鹅口疮</a> <a href="#">儿童孤独症</a> </p>
                <h3>内科</h3>
                <p><a href="#">百日咳</a> <a href="#">病毒性肠炎</a> <a href="#">C喘息样气管炎</a> <a href="#">川崎病</a> <a href="#">抽动综合症</a> <a href="#">抽动障碍</a> <a href="#">D地中海贫血</a> <a href="#">胆汁综合症</a> </p>
            </div>
  </div>
	<div class="col2">
    	<div class="listbox">
	<div class="menu">
    	<div class="menu_tab1" id="Content1_title_1"><a href="javascript:void(0);" onmouseover="return ContentDivChange('1','1',3);">最新</a></div>
        <div class="menu_tab2" id="Content1_title_2"><a href="javascript:void(0);" onmouseover="return ContentDivChange('1','2',3);">热门</a></div>
        <div class="menu_tab2" id="Content1_title_3"><a  href="javascript:void(0);" onmouseover="return ContentDivChange('1','3',3);">精华</a></div>
  </div>
  <div id="Content1_div_1">
	<div class="cnt">
    	<ul>
       	  <li class="header">
                <span class="title" style="text-align:center;">标题</span>
                <span class="time">时间</span>
          </li>
          <li>
                <span class="title"><a href="#"><font color="#004483">新医改征求意见三十天新医改征求意见三十天</font></a></span>
                <span class="time"><font color="#999999">2008-11-20</font></span>          </li>
        </ul>
        <div class="blank"></div>
        <div class="page">
            <span class="disabled"> < </span>
            <span class="current">1</span>
            <a href="#?page=2">2</a>
            <a href="#?page=3">3</a>
            <a href="#?page=4">4</a>
            <a href="#?page=5">5</a>
            <a href="#?page=6">6</a>
            <a href="#?page=7">7</a>
            ...
            <a href="#?page=199">199</a>
            <a href="#?page=200">200</a>
            <a href="#?page=2"> > </a>
          </div>
            <div class="blank"></div>
    </div>
    </div>
    
    <div id="Content1_div_2" style="display:none">
	<div class="cnt">
    	<ul>
       	  <li class="header">
                <span class="title" style="text-align:center;">标题</span>
                <span class="time">时间</span>
          </li>
          <li>
                <span class="title"><a href="#"><font color="#004483">热门</font></a></span>
                <span class="time"><font color="#999999">2008-11-20</font></span>          </li>
        </ul>
        <div class="blank"></div>
        <div class="page">
            <span class="disabled"> < </span>
            <span class="current">1</span>
            <a href="#?page=2">2</a>
            <a href="#?page=3">3</a>
            <a href="#?page=4">4</a>
            <a href="#?page=5">5</a>
            <a href="#?page=6">6</a>
            <a href="#?page=7">7</a>
            ...
            <a href="#?page=199">199</a>
            <a href="#?page=200">200</a>
            <a href="#?page=2"> > </a>
          </div>
            <div class="blank"></div>
    </div>
    </div>
    
    <div id="Content1_div_3" style="display:none">
	<div class="cnt">
    	<ul>
       	  <li class="header">
                <span class="title" style="text-align:center;">标题</span>
                <span class="time">时间</span>
          </li>
          <li>
                <span class="title"><a href="#"><font color="#004483">精华</font></a></span>
                <span class="time"><font color="#999999">2008-11-20</font></span>          </li>
        </ul>
        <div class="blank"></div>
        <div class="page">
            <span class="disabled"> < </span>
            <span class="current">1</span>
            <a href="#?page=2">2</a>
            <a href="#?page=3">3</a>
            <a href="#?page=4">4</a>
            <a href="#?page=5">5</a>
            <a href="#?page=6">6</a>
            <a href="#?page=7">7</a>
            ...
            <a href="#?page=199">199</a>
            <a href="#?page=200">200</a>
            <a href="#?page=2"> > </a>
          </div>
            <div class="blank"></div>
    </div>
    </div>
    
</div>
    </div>
  <div class="col3">
        	<div class="ctitle">
            	<h2>标签</h2>
            </div>
            <div class="cont">
            	<p><a href="#">百日咳</a> <a href="#">病毒性肠炎</a> <a href="#">C喘息样气管炎</a> <a href="#">川崎病</a> <a href="#">抽动综合症</a> <a href="#">抽动障碍</a> <a href="#">D地中海贫血</a> <a href="#">胆汁综合症</a> <a href="#">E儿童遗尿症</a> <a href="#">儿童遗粪症</a> <a href="#">儿童口吃</a> <a href="#">儿童多动症</a> <a href="#">鹅口疮</a> <a href="#">儿童孤独症</a> </p>
            </div>
  </div>
</div>