<style type="text/css">
<!--
.area {width:930px;margin:0 auto;}
.area .col1 {width:710px;float:left;}
.area .col2 {width:208px;float:right;border:1px solid #D3DEE0;}
.area .col2 h1 {width:188px;margin:0 auto;border-bottom:1px solid #d8d8d8;line-height:26px;color:#FF8300;font-size:14px;display:block;}
.area .col2 .cnt {width:188px;margin:0 auto;padding:8px 10px;}
.area .col2 .cnt p {line-height:22px;margin:0;padding:0;line-height:22px;}
.area .col2 .cnt p a {padding:0 10px 0 0;}
.show_box,.comment_box {width:708px;border:1px #D0E1EB solid;float:left;overflow:hidden;clear:both;}
.show_box .menu,.comment_box .menu {width:708px;height:30px;border-bottom:1px #D0E1EB solid;background:url(images/tab_bg1.gif) repeat-x;float:left;}
.show_box .menu h1,.comment_box .menu h1 {line-height:30px;margin:0px;padding:0px 0px 0px 30px;background:url(images/showh1bg.gif) 10px 6px no-repeat;font-size:14px;float:left;display:inline;color:#004575;}
.show_box .menu .info {float:right;line-height:30px;padding-right:10px;}
.show_box .cnt {width:688px;float:left;padding:10px;}
.show_box .cnt p {line-height:22px;margin:0;padding:3px 0;font-size:14px;}
.show_box .cnt li.header {background:#EFF8FF;}
.comment_box .menu h1 {background:url(images/commenth1bg.gif) 10px 6px no-repeat;}
.comment_box .cnt ul {width:680px;margin:6px auto;}
.comment_box .cnt li {width:680px;float:left;padding:6px 0px;border-bottom:1px #ccc dotted;}
.comment_box .cnt .intro {width:680px;margin:0px auto;padding:0px;display:block;text-indent:2em;line-height:20px;}
.comment_box .cnt .info {width:680px;text-align:right;margin:0px auto;display:block;}
.user_box {width:708px;border:1px #FECFA5 solid;float:left;overflow:hidden;clear:both;}
.user_box .menu {width:708px;float:left;}
.user_box .menu h1 {line-height:30px;margin:0px;padding:0px 0px 0px 30px;background:url(images/userh1bg.gif) 10px 6px no-repeat;font-size:14px;float:left;display:inline;color:#004575;}
.user_box .cnt {width:708px;padding:0px 10px 10px 10px;float:left;color:#999;line-height:30px;}

-->
</style>
<link href="style.css" rel="stylesheet" type="text/css" />
<div class="area">
	<div class="col1">
    	<div class="show_box">
  <div class="menu">
    <h1>第五届国际医学会议</h1>
    <span class="info"><font color="#999999">发表时间：</font><font color="#004575">2008-11-20 18:32</font> <font color="#999999">分值：</font><font color="#004575">1</font>  <a href="#"><u><font color="#004575">打印</font></u></a> <a href="#"><font color="#FFB32E"><u>收藏</u></font></a></span></div>
    <div class="cnt"><p>第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第</p><p>第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第</p><p>第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第</p><p>第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第五届国际医学会议第</p>
    </div>
</div>
<div class="blank"></div>
<div class="comment_box">
	<div class="menu"><h1>评论</h1></div>
    <div class="cnt">
    	<ul>
       	  <li>
            	<p class="intro">评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容</p>
              <span class="info"><font color="#F39B1D">admin</font> <font color="#999999">评论于</font> <font color="#666666">2008-12-20 20:11</font> <a href="#"><u><font color="#004575">评</font>论</u></a><font color="#666666">(0)</font> <a href="#"><u><font color="#004575">赞</font>成</u></a><font color="#666666">(0)</font> <a href="#"><u><font color="#004575">反对</font></u></a><font color="#666666">(1)</font></span>       	  </li>
        </ul>
        <div class="blank"></div>
    </div>
</div>
<div class="blank">
</div>
<div class="user_box">
	<div class="menu"><h1>我要评论</h1></div>
  <div class="cnt">
    <textarea cols="" rows="" style="width:600px;height:100px;border:1px #ccc solid;color:#999;font-size:12px;padding:10px;">对病例有疑问？现在提问，或者发起回应表达你的观点
</textarea><br />您尚未<a href="#"><u><font color="#FF6600">登录</font></u></a>，不能留言 <a href="#"><font color="#FF6600">我要注册>></font></a>
    <label>
    <input type="submit" name="button" id="button" value="提交" />
    </label>
  </div>
</div>
    </div>
    <div class="col2">
    	<h1>标签</h1>
        <div class="cnt"><p><a href="#" class="f12blue">新药信息</a><a href="#" class="f12blue">新药信息</a><a href="#" class="f12blue">新药信息</a><a href="#" class="f12blue">新药信息</a><a href="#" class="f12blue">新药信息</a><a href="#" class="f12blue">新药信息</a><a href="#" class="f12blue">新药信息</a><a href="#" class="f12blue">新药信息</a></p></div>
    </div>
</div>