<%= @invite.user.name %> 邀请您加入
 <a href="http://www.doctorthinking.com">医思网社区</a>【 doctorthinking.com 】
<br/><br/>
点击下面的链接，接受邀请:<br/>
<%= link_to "http://www.doctorthinking.com/signup?invite_code=#{@invite.invite_code}", "http://www.doctorthinking.com/signup?invite_code=#{@invite.invite_code}" %>
