<style type="text/css" media="screen">
	.area .aright {width:210px;float:right;}
		.area .aright .col1 {width:208px;float:left;border:1px solid #C7E1F2;margin-bottom:20px;}
			.area .aright .col1 .ctitle,..area .aright .col1 .cont {width:188px;margin:0 auto;}
			.area .aright .col1 .ctitle h2 {color:#EC8115;font-size:14px;height:30px;line-height:30px;border-bottom:1px solid #d8d8d8;margin:0;padding:0px 20px;}
				.area .aright .col1 .cont p {width:188px;float:left;line-height:22px;padding:6px 10px;margin:0;}
				.area .aright .col1 .cont p a {color:#5F9EC7;text-decoration:underline;}
		.area .aright .col2 {width:208px;float:left;}
			.area .aright .col2 .btn {width:71px;height:28px;line-height:32px;cursor:pointer;background:url(/images/btn_ziliao.gif) no-repeat;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;margin:10px 0 0;padding:0;font-weight:bold;color:#072A46;}
			.area .aright .col2 input {border:1px solid #879BB3;width:120px;margin:0 6px;}
</style>
<div class="aright">
	<div class="col1" style='border:0px'><%=link_to image_tag('fabu.gif'),new_shared_resource_path%></div>
  <div class="col1">
        <div class="ctitle">
            <h2>标签</h2>
        </div>
        <div class="cont">
	<p>
			<%SharedResource.tag_counts_on(:tags).each do |t|%>
				<%=link_to t.name,tagged_shared_resources_path(:id => t.id)%>
           <%end%> </p>
        </div>
  </div>
    <div class="col2"><input name="" type="text" /><input type="button" class="btn" value="搜索资源" /></div>
	<!-- <div class="col2">
    	<div class="ctitle">
        	<h2 style="font-size:12px">本类<font color="#094C76">下载排行</font></h2>
        </div>
        <div class="cont">
        	<ul>
        		<li>·<a href="#">实践考试中的问答</a></li>
                <li>·<a href="#">实践考试中的问答</a></li>
                <li>·<a href="#">实践考试中的问答</a></li>
                <li>·<a href="#">实践考试中的问答</a></li>
                <li>·<a href="#">实践考试中的问答</a></li>
			</ul>
        </div>
    </div> -->
</div>