<style type="text/css">
<!--
.area {width:930px;margin:0 auto;}
	.area .aleft {width:154px;float:left;}
	.area .acenter {width:546px;float:left;margin-left:10px;}
		.area .acenter .col1,.area .acenter .col2 {width:546px;float:left;}
			.area .acenter .col1 .atitle,.area .acenter .col2 .atitle {width:546px;height:32px;background:url(images/atitlebg3.gif) repeat-x;float:left;}
				.area .acenter .col1 .atitle h3,.area .acenter .col2 .atitle h3 {font-size:14px;color:#FD9A00;float:left;background:url(images/arrow1.gif) 10px 10px no-repeat;padding:0 20px;line-height:32px;}
			.area .acenter .col1 .acont,.area .acenter .col2 .acont {width:546px;float:left;background:#F3F3F3;margin-top:1px;}
				.area .acenter .col1 .acont .box1,.area .acenter .col2 .acont .box1,.area .acenter .col2 .acont .box2 {width:526px;float:left;padding:4px 10px}
					.area .acenter .col1 .acont .box1 h4,.area .acenter .col2 .acont .box1 h4,.area .acenter .col2 .acont .box2 h4 {width:506px;float:left;padding:0 10px;font-size:12px;line-height:26px;}
					.area .acenter .col1 .acont .box1 ul,.area .acenter .col2 .acont .box1 ul,.area .acenter .col2 .acont .box2 ul {width:506px;float:left;border:1px solid #E7EEF2;background:#fff;margin:0 auto;padding:10px;}
					.area .acenter .col1 .acont .box1 li {width:506px;float:left;line-height:24px;}
					.area .acenter .col2 .acont .box1 li {width:87px;float:left;padding:0 4px 0 8px;}
						.area .acenter .col2 .acont .box1 li img {width:87px;float:left;}
						.area .acenter .col2 .acont .box1 li p {width:87px;height:26px;line-height:26px;float:left;text-align:center;}
						.area .acenter .col2 .acont .box2 li {width:57px;float:left;padding:0 14px 0 26px;}
						.area .acenter .col2 .acont .box2 li img {width:57px;height:78px;float:left;}
						.area .acenter .col2 .acont .box2 li p {width:57px;height:26px;line-height:26px;float:left;text-align:center;}	
	.area .aright {width:210px;float:right;}
		.area .aright .col1 {width:208px;float:left;border:1px solid #C7E1F2;margin-bottom:20px;}
			.area .aright .col1 .ctitle,..area .aright .col1 .cont {width:188px;margin:0 auto;}
			.area .aright .col1 .ctitle h2 {color:#EC8115;font-size:14px;height:30px;line-height:30px;border-bottom:1px solid #d8d8d8;margin:0;padding:0px 20px;}
				.area .aright .col1 .cont p {width:188px;float:left;line-height:22px;padding:6px 10px;margin:0;}
				.area .aright .col1 .cont p a {color:#5F9EC7;text-decoration:underline;}
		.area .aright .col2 {width:208px;float:left;}
			.area .aright .col2 .btn {width:71px;height:28px;line-height:32px;cursor:pointer;background:url(images/btn_ziliao.gif) no-repeat;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;margin:10px 0 0;padding:0;font-weight:bold;color:#072A46;}
			.area .aright .col2 input {border:1px solid #879BB3;width:120px;margin:0 6px;}
			
-->
</style>

<div class="area">
    <div class="aleft">
    	<%=link_to image_tag('fenxiang.gif'),new_shared_resource_path()%></div>
    <div class="acenter">
   	  <div class="col1">
        	<div class="atitle">
            	<h3>材料下载</h3>
            </div>
            <div class="acont">
           	  <div class="box1">
               	<h4><font color="#EB6100">最新</font>下载资料</h4>
                    <ul>
						<%%>
                    	<li>·<a href="#">辉瑞因不当营销被罚23亿美元 巨额赔偿成药厂“销金窟”</a></li>
                    	<li>·<a href="#">8月求购大奖更多惊喜：价值3500元参会名额等你申请 一周求购信息汇总</a></li> 
                    	<li>·<a href="#">中国科学院公布2009年院士增选初步候选人名单 生命科学和医学学部</a></li>
                    	<li>·<a href="#">开学促销专场__免费申请“丁香通打折卡” 你喜欢的促销活动</a></li>
                    	<li>·<a href="#">陈竺部长看望南平第一医院医务人员 杭州邵逸夫医院医闹事件</a></li>
                    </ul>
              </div>
                <div class="box1">
                	<h4><font color="#EB6100">最热门</font>下载资料</h4>
                    <ul>
                    	<li>·<a href="#">辉瑞因不当营销被罚23亿美元 巨额赔偿成药厂“销金窟”</a></li>
                    	<li>·<a href="#">8月求购大奖更多惊喜：价值3500元参会名额等你申请 一周求购信息汇总</a></li> 
                    	<li>·<a href="#">中国科学院公布2009年院士增选初步候选人名单 生命科学和医学学部</a></li>
                    	<li>·<a href="#">开学促销专场__免费申请“丁香通打折卡” 你喜欢的促销活动</a></li>
                    	<li>·<a href="#">陈竺部长看望南平第一医院医务人员 杭州邵逸夫医院医闹事件</a></li>
                    </ul>
                </div>
                <div class="box1">
                	<h4><font color="#EB6100">分享最多</font>下载资料</h4>
                    <ul>
                    	<li>·<a href="#">辉瑞因不当营销被罚23亿美元 巨额赔偿成药厂“销金窟”</a></li>
                    	<li>·<a href="#">8月求购大奖更多惊喜：价值3500元参会名额等你申请 一周求购信息汇总</a></li> 
                    	<li>·<a href="#">中国科学院公布2009年院士增选初步候选人名单 生命科学和医学学部</a></li>
                    	<li>·<a href="#">开学促销专场__免费申请“丁香通打折卡” 你喜欢的促销活动</a></li>
                    	<li>·<a href="#">陈竺部长看望南平第一医院医务人员 杭州邵逸夫医院医闹事件</a></li>
                    </ul>
                </div>
            </div>
      </div>
        <div class="blank"></div>
        <div class="col1">
        	<div class="atitle">
            	<h3>试题下载</h3>
            </div>
            <div class="acont">
            	<div class="box1">
                	<h4><font color="#EB6100">最新</font>下载试题</h4>
                    <ul>
                    	<li>·<a href="#">辉瑞因不当营销被罚23亿美元 巨额赔偿成药厂“销金窟”</a></li>
                    	<li>·<a href="#">8月求购大奖更多惊喜：价值3500元参会名额等你申请 一周求购信息汇总</a></li> 
                    	<li>·<a href="#">中国科学院公布2009年院士增选初步候选人名单 生命科学和医学学部</a></li>
                    	<li>·<a href="#">开学促销专场__免费申请“丁香通打折卡” 你喜欢的促销活动</a></li>
                    	<li>·<a href="#">陈竺部长看望南平第一医院医务人员 杭州邵逸夫医院医闹事件</a></li>
                    </ul>
                </div>
                <div class="box1">
                	<h4><font color="#EB6100">最热门</font>下载试题</h4>
                    <ul>
                    	<li>·<a href="#">辉瑞因不当营销被罚23亿美元 巨额赔偿成药厂“销金窟”</a></li>
                    	<li>·<a href="#">8月求购大奖更多惊喜：价值3500元参会名额等你申请 一周求购信息汇总</a></li> 
                    	<li>·<a href="#">中国科学院公布2009年院士增选初步候选人名单 生命科学和医学学部</a></li>
                    	<li>·<a href="#">开学促销专场__免费申请“丁香通打折卡” 你喜欢的促销活动</a></li>
                    	<li>·<a href="#">陈竺部长看望南平第一医院医务人员 杭州邵逸夫医院医闹事件</a></li>
                    </ul>
                </div>
                <div class="box1">
                	<h4><font color="#EB6100">分享最多</font>下载试题</h4>
                    <ul>
                    	<li>·<a href="#">辉瑞因不当营销被罚23亿美元 巨额赔偿成药厂“销金窟”</a></li>
                    	<li>·<a href="#">8月求购大奖更多惊喜：价值3500元参会名额等你申请 一周求购信息汇总</a></li> 
                    	<li>·<a href="#">中国科学院公布2009年院士增选初步候选人名单 生命科学和医学学部</a></li>
                    	<li>·<a href="#">开学促销专场__免费申请“丁香通打折卡” 你喜欢的促销活动</a></li>
                    	<li>·<a href="#">陈竺部长看望南平第一医院医务人员 杭州邵逸夫医院医闹事件</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="blank"></div>
      <div class="col2">
        	<div class="atitle">
            	<h3>视频下载</h3>
            </div>
            <div class="acont">
           	  <div class="box1">
                	<h4><font color="#EB6100">最新</font>下载视频</h4>
                    <ul>
                    	<li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                        <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                        <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                        <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                        <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                    </ul>
              </div>
                <div class="box1">
                	<h4><font color="#EB6100">最热</font>下载视频</h4>
                    <ul>
                    	<li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                        <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                        <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                        <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                        <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                    </ul>
                </div>
                <div class="box1">
                	<h4><font color="#EB6100">分享最多</font>下载视频</h4>
                    <ul>
                    	<li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                        <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                        <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                        <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                        <li><a href="#"><img src="images/img1.gif" /></a><p><a href="#">视频名称</a></p></li>
                    </ul>
                </div>
            </div>
      </div>
        <div class="blank"></div>
        <div class="col2">
        	<div class="atitle">
            	<h3>书籍下载</h3>
            </div>
            <div class="acont">
            	<div class="box2">
                	<h4><font color="#EB6100">最新</font>下载书籍</h4>
                    <ul>
                    	<li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                    </ul>
                </div>
                <div class="box2">
                	<h4><font color="#EB6100">最热</font>下载书籍</h4>
                    <ul>
                    	<li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                    </ul>
                </div>
                <div class="box2">
                	<h4><font color="#EB6100">分享最多</font>下载书籍</h4>
                    <ul>
                    	<li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                        <li><a href="#"><img src="images/img2.gif" /></a><p><a href="#">书籍名称</a></p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="blank"></div>
      <div class="col1">
        	<div class="atitle">
           	  <h3>其它下载</h3>
            </div>
            <div class="acont">
           	  <div class="box1">
                    <ul>
                    	<li>·<a href="#">辉瑞因不当营销被罚23亿美元 巨额赔偿成药厂“销金窟”</a>&nbsp;<span style="color:#999;">[种类名称]</span></li>
                    	<li>·<a href="#">8月求购大奖更多惊喜：价值3500元参会名额等你申请 一周求购信息汇总</a>&nbsp;<span style="color:#999;">[种类名称]</span></li> 
                   	  <li>·<a href="#">中国科学院公布2009年院士增选初步候选人名单 生命科学和医学学部</a>&nbsp;<span style="color:#999;">[种类名称]</span></li>
                    </ul>
              </div>
            </div>
      </div>
        
    </div>
    <div class="aright">
      <div class="col1">
            <div class="ctitle">
                <h2>标签</h2>
            </div>
            <div class="cont">
                <p><a href="#">百日咳</a> <a href="#">病毒性肠炎</a> <a href="#">C喘息样气管炎</a> <a href="#">川崎病</a> <a href="#">抽动综合症</a> <a href="#">抽动障碍</a> <a href="#">D地中海贫血</a> <a href="#">胆汁综合症</a> <a href="#">E儿童遗尿症</a> <a href="#">儿童遗粪症</a> <a href="#">儿童口吃</a> <a href="#">儿童多动症</a> <a href="#">鹅口疮</a> <a href="#">儿童孤独症</a> </p>
            </div>
      </div>
        <div class="col2"><input name="" type="text" /><input type="button" class="btn" value="搜索资料" /></div>
    </div>
</div>