<style type="text/css">
<!--
.results {
	width: 930px;
	margin-right: auto;
	margin-left: auto;
}
.result {
	top: 100px;
	border-bottom-style: solid;
	border-bottom-width: thin;
	padding-left: 20px;
	padding-right: 20px;
}
.title_box {
	margin-right: auto;
	margin-left: auto;
	width: 950px;
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #660066;
	background-image: url(%E7%97%85%E4%BE%8B%E8%AE%A8%E8%AE%BA/images/tab_bg1.gif);
}
.title_box p {
	left: 20px;
	text-align: left;
	display: block;
	top: 0px;
	bottom: 0px;
	font-size: 16px;
	line-height: normal;
	position: relative;
	right: 0px;
	width: auto;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.STYLE1 {color: #FF0000}
.STYLE2 {
	font-size: 24px;
	color: #0099FF;
}
.search_box {
	margin-right: auto;
	margin-left: auto;
	width: 930px;
}
-->
</style>
<div class="search_box">
  <label>
  <input type="text" name="textfield" />
  </label>
  <label>
  <input type="submit" name="Submit" value="提交" />
  </label>
</div><div class="title_box"><p>搜索“<span class="STYLE1">题目</span>”的病例共获得678条记录，以下是1-10条。</p>
</div>
<div class="results">
<div class="result">
<p class="STYLE2">测试的主题测试的主题</p>
<p>测试的题目测试的题目测试的<span class="STYLE1">题目</span>，测试的题目测试的题目测试的题目测试的题目，测试的题目测试的题目测试的题目测试的题目测试的题目测试的题目。测试的题目测试的题目测试的题目，测试的题目测试的题目测试的题目测试的题目测试的题目测试的题目测试的题目测试的题目测试的题目，测试的题目测试的题目，测试的题目测试的题目，测试的题目测试的题目测试的题目测试的题目。测试的题目测试的题目，测试的题目。</p>
</div>
<div class="result">
<p>测试的主题测试的主题</p>
<p>测试的题目测试的题目测试的题目，测试的题目测试的题目测试的题目测试的题目，测试的题目测试的题目测试的题目测试的题目测试的题目测试的题目。测试的题目测试的题目测试的题目，测试的题目测试的题目测试的题目测试的题目测试的题目测试的题目测试的题目测试的题目测试的题目，测试的题目测试的题目，测试的题目测试的题目，测试的题目测试的题目测试的题目测试的题目。测试的题目测试的题目，测试的题目。</p>
</div>
</div>