<div class="add_comment">
	<% if logged_in? %>
	<%form_remote_tag :url=>add_comment_blog_post_comments_path(@blog_post.id),:before => "" do -%>
		<span class="title">增加评论:</span>	
			<%=text_area(:comment,:comment, :cols => 40, :rows => 10,:class=>"") %>
			<%=submit_tag "发表",{:onclick=>""}%>

		<%end-%>
	<% else %>
		<span class="title">您需要 <%=link_to "登录",login_url,{:style=>'color:#FF8300'}%> 才能发表评论.,还没有帐户？现在就 <%=link_to '注册',signup_url,{:style=>'color:#FF8300'}%> </span>
	<% end %>
</div>

