<%=render :partial => "blog_menu"%>
<%= stylesheet_link_tag 'blogs' %>
	
<div id="add_blog">
	<%= render :partial => 'blog_post_form' %>
	<div style="clear:both;"></div>
</div>
<div style="clear:both;"></div>

