<li id='blog_post_comment_<%=comment.id%>' style="margin-bottom:10px;padding-top:20px;">
	<p class="intro"><%= comment.comment%></p>
  <span class="info"><font color="#F39B1D"><%=link_to comment.user.login,user_path(comment.user)%></font> <font color="#999999">评论于</font><font color="#666666"><%=comment.created_at.strftime("%Y %d %d %H:%M:%S")%></font></span>       	  </li>