.listbox {width:960px;margin:10px auto;}
.listbox .menu {width:960px;height:27px;background:url(/images/box_menu_bg.gif) repeat-x;float:left;overflow:hidden;position: relative;vertical-align: baseline;}
.listbox .menu .menu_tab1 {float:left;height:27px;width:85px;line-height:27px;background:url(/images/box_menu_tab1.gif) no-repeat;text-align:center;margin:0px 5px;}
.listbox .menu .menu_tab1 a {color:#004483;font-weight:bold;font-size:17px;}
.listbox .menu .menu_tab2 {float:left;height:22px;width:75px;line-height:22px;background:url(/images/box_menu_tab2.gif) no-repeat;text-align:center;border:1px #D7E0E5 solid;border-bottom:0px;margin:0px 5px;margin-top:3px;}
.listbox .menu .menu_tab2 a {font-size:15px;font-color: #777;vertical-align:middle;}
.listbox .menu .menu_tab3 {width:105px;height:26px;line-height:27px;background:url(/images/box_menu_tab2.gif) no-repeat;text-align:center;border:1px #D7E0E5 solid;border-bottom:0px;float:right;}
.listbox .menu .menu_tab3 a {color:#F0AE36;font-size:14px;font-weight:bold;}
.listbox .cnt {width:958px;border:1px #D7E0E5 solid;}
.listbox .cnt ul {width:900px;margin:0px auto;}
.listbox .cnt li {width:900px;float:left;border-bottom:1px #ccc dotted;padding:10px 0px;}
.listbox .cnt h1 a {font-size:14px;float:left;color:#094C76;display:inline;}
.listbox .cnt .title {width:900px;line-height:20px;}
.title a
	{
	color: #094C76;
	display: inline;
	float: left;
	font-size: 16px;
	}

.listbox .cnt .time {color:#A7A7A7;margin-left:30px;}
.listbox .cnt .intro {margin:0px;padding:0px;line-height:18px;text-indent:2em;width:560px;float:left;color:#333;
	word-wrap: break-word;
	word-break: keep-all;
	white-space: normal;}
.listbox .cnt .info {width:140px;float:right;line-height:22px;}
.pic {float:left;border:3px #EBEBEB solid;margin-left:20px;width:100px;height:70px;overflow:hidden;}
.post-tag {
float:left;
height:20px;
background-color: #E0EAF1;
border-bottom: 1px solid #3E6D8E;
border-right: 1px solid #7F9FB6;
color: #3E6D8E;
font-size: 90%;
line-height: 1.8;
margin: 2px 8px 2px 0px;
padding: 1px 4px;
text-decoration: none;
white-space: nowrap;
}
.tags {
/*width:560px;*/
float: left;
line-height: 18px;
}
