
.title a
	{
	color: #094C76;
	display: inline;
	float: left;
	font-size: 140%;
	}

.listbox .cnt .time {color:#A7A7A7;margin-left:30px;}
.listbox .cnt .intro {margin:0px;padding:0px;line-height:18px;text-indent:2em;width:560px;float:left;color:#333;
	word-wrap: break-word;
	word-break: keep-all;
	white-space: normal;}
.listbox .cnt .info {width:140px;float:right;line-height:22px;}
.pic {float:left;border:3px #EBEBEB solid;margin-left:20px;width:100px;height:70px;overflow:hidden;}
.statscontainer {
width: 86px;
float: left;
margin-right: 8px;
}.statsarrow {
float: right;
height: 13px;
width: 7px;
margin-top: 12px;
background-position: 0 -435px;
}
.stats {
background: #EEE;
margin: 0 0 0 7px;
padding: 4px 7px 6px 7px;
width: 58px;
}
.vote {
text-align: center;
}
.votes {
color: #555;
padding: 0 0 7px 0;
text-align: center;
}
.vote span {
display: block;
color: #808185;
font-weight: bold;
}
.vote-count-post {
display: block;
font-size: 240%;
}
.answered {
background: #75845C;
color: white;
}
.status {
margin-top: -3px;
padding: 4px 0 4px;
text-align: center;
}
.views {
padding-top: 4px;
color: #999;
text-align: center;
}
.unanswered {
background: #9A4444;
color: white;
}
.summary {
float: left;
width: 635px;
}
.summary h3 {
font-size: 130%;
}
.excerpt {
line-height: 1.2;
padding: 0;
margin: 0;
padding-bottom: 5px;
}
.fr {
float: right;
}
.started {
width: 210px;
color: #999;
float: right;
line-height: 18px;
}
.user-info {
height: 35px;
width: 205px;
}
.bingli_info_summary {
border-bottom: 1px dotted #999;
overflow: hidden;
padding: 11px 0;
width: 730px;
float: left;
}
.question-hyperlink {
font-weight: bold;
}
.status strong {
color: white;
display: block;
font-size: 140%;
}
b, strong {
font-weight: bold;
}
.sidebar{
	width:210px;
	float:right;
	padding:20px 0px 0px 15px;
}
.tags_list{

}
