	.comments>table{width:100%;}
	.comments{float:left;width:860px;border-top:dotted 1px #aaa;margin-top:10px;padding-bottom:10px;line-height:135%;color:#444;}
	.comments{border-top:none;}
	.comment img{vertical-align:middle;}
	.comment-score span{font-size:110%;color:#999;font-weight:bold;padding-right:2px;}
	.cool{color:#999!important;}
	.comment-up-off,.comment-up-on{background-image:url(/images/sprites.png);background-repeat:no-repeat;overflow:hidden;text-indent:-9999em;font-size:1px;}
	.comment-up-off{background-position:0 -410px;}.comment-up-on{background-position:0 -390px;}
	.comment-up-off,.comment-up-on{display:inline-block;height:14px;width:14px;vertical-align:text-bottom;line-height:12px;}
	.comment-flag,.comment-up,.comment-delete{visibility:hidden;cursor:pointer;}
	.comment-flag,.flag-off,.vote-accepted-off,.vote-accepted-on{text-indent:-9999em;font-size:1px;}
	.comment-text code{background-color:#fff;padding:1px 5px 1px 5px;}
	.comment-text,.comment-form{vertical-align:text-top;padding:0 6px 0 7px;}.comment-text .comment-edited{vertical-align:top;margin-top:3px;margin-left:2px;}.comment-text a{color:#444;border-bottom:1px #444 dotted;}.comment-text a:hover{color:#6C0000;border-bottom:1px #6C0000 dotted;text-decoration:none;}
	.comment-form>form>table{text-align:left;margin-top:5px;margin-right:5px;vertical-align:top;}.comment-form>form>table td{vertical-align:top;}.comment-form>form input{margin-left:10px;margin-top:1px;width:100px;display:block;cursor:pointer;}.comment-form .edit-comment-cancel{margin-left:10px;}.comment-form>form textarea{margin-bottom:4px;height:5em;}
	a.comment-user{border-bottom:none;color:#6C0000;text-decoration:none;white-space:nowrap;padding:0;}a.comment-user.owner{padding:2px 5px 2px 5px;}.comment-date{color:#999;}
	.history-table .comments{border-top:none;}
	.comments {
border-top: 1px dotted #AAA;
border-top-style: dotted;
border-top-width: 1px;
border-top-color: #AAA;
}
table {
border-collapse: collapse;
border-spacing: 0;
border-color: gray;
border-top-color: gray;
border-right-color: gray;
border-bottom-color: gray;
border-left-color: gray;
border-collapse: separate;
display: table;
}
tbody {
border-color: inherit;
display: table-row-group;
vertical-align: middle;
border: ;
border-style: initial;
border-color: initial;
}
tr.comment>td{padding-top:5px;padding-bottom:5px;border-bottom:dotted 1px #ddd;}tr.comment-hover{background-color:#fafafa;}
.user-gravatar32 {
float: left;
height: 32px;
width: 32px;
}
.user-info{height:35px;width:205px;}.user-info .user-gravatar32{float:left;width:48px;height:48px;}.user-info .user-action-time{margin-top:2px;margin-bottom:4px;}
.user-info .user-details{float:left;margin-left:5px;width:145px;overflow:hidden;white-space:nowrap;}
.user-details{color:#888;line-height:17px;}#revisions{margin-top:20px;margin-left:20px;}.revision{border:2px solid #ddd;}
.user-details td{color:Black;padding:4px 0 4px 0;}
.user-action-time{margin-top:2px;margin-bottom:4px;}
.vt{vertical-align:top;}
.post-signature{padding-left:5px;padding-top:2px;text-align:left;vertical-align:top;width:175px;height:74px;}

.comments-link {
	float:left;
color: #888;
padding: 0px 3px 2px;
}
.comment-actions {
padding-left: 3px;
width: 15px;
}
