.box_left{
	width:750px;
	float:left;
}
.box_right{
	width:200px;
	float:left;
}
.bingli_comment_right{
	width:690px;float:left;
}
.bingli_comment_left{
	width:60px;float:left;
}
.show_box{
    width: 100%;
/*    border: 1px #D0E1EB solid;*/
float:left;
    margin: 0px auto;
    overflow: hidden;
    clear: both;
} 
 .comment_box {
    width: 100%;
/*    border: 1px #D0E1EB solid;*/
    margin: 0px auto;
    overflow: hidden;
    clear: both;
}
.post-text {
width: 680px;
font-size: 107%;
margin-bottom: 5px;
margin-right: 5px;
line-height: 130%;
}
/*a.youarehere {
background: white;
border: 1px solid;
border-bottom-color: white;
color: black;
font-size: 120%;
height: 30px;
line-height: 28px;
margin-top: 3px;
padding: 0px 11px;
}*/
#answers-header {
margin-bottom: 10px;
/*margin-top: 10px;*/
width: 100%;
}
#answers .subheader {
margin-bottom: -10px;
}
.subheader {
border-bottom: 1px solid #666;
clear: both;
height: 34px;
margin-bottom: 15px;
}
.subheader h1, .subheader h2 {
float: left;
font-size: 170%;
line-height: 34px;
margin-bottom: 0px;
margin-top: 0px;
padding: 0px 0px 0px 35px;
background: url(/images/showh1bg.gif) 8px 10px no-repeat;
}
#tabs {
float: right;
font-weight: bold;
}
#tabs a {
background: inherit;
background: inherit;
border: 1px solid white;
color: #777;
display: block;
float: left;
font-size: 90%;
height: 24px;
line-height: 22px;
margin: 8px 8px 0px 0px;
padding: 0px 11px;
text-decoration: none;
}
#tabs a.youarehere {
background: white;
border: 1px solid black;
border-bottom-color: white;
color: black;
font-size: 120%;
height: 30px;
line-height: 28px;
margin-top: 3px;
padding: 0px 11px;
}
.order-link a {
background: inherit;
background: inherit;
border: 1px solid white;
color: #777;
display: block;
float: left;
font-size: 90%;
height: 24px;
line-height: 22px;
margin: 8px 8px 0px 0px;
padding: 0px 11px;
text-decoration: none;
}
.comment_box .order-link{
/*	float:right;padding:0px 10px;
	
	border-bottom: 0px;
	margin-right: 20px;
	height:30px;
	margin-top: 3px;
	background-color: inherit;*/
} 
.order-link a{
	line-height: 28px;
	font-size: 20px;
	
	height:30px;
	margin-top: 3px;
	background-color: inherit;
	border: 1px #D0E1EB solid;
	padding: 4px 4px 4px 0px;
	border-bottom-color: white;
}
.menu{
    width: 958px;
    height: 30px;
/*    border-bottom: 1px #D0E1EB solid;*/
    background: url(/images/tab_bg1.gif) repeat-x;
    float: left;
	border:1px #D0E1EB solid;
/*	border*/
}
.comment_box .menu {
    width: 958px;
    height: 30px;
    border-bottom: 1px #D0E1EB solid;
/*    background: url(/images/tab_bg1.gif) repeat-x;*/
    float: left;
}
.comment_box .menu h1 {
    background: url(/images/commenth1bg.gif) 10px 6px no-repeat;
}
.menu h1, .comment_box .menu h1 {
    line-height: 30px;
    margin: 0px;
    padding: 0px 0px 0px 30px;
    background: url(/images/showh1bg.gif) 10px 6px no-repeat;
    font-size: 18px;
    float: left;
    display: inline;
    color: #004575;
} .menu .info {
    float: right;
    line-height: 30px;
    padding-right: 10px;
} .bingli {
    width: 680px;
    float: left;
} 
/*.bingli .title {
    width: 100%px;
    margin: 0px auto;
    line-height: 22px;
    display: block;
    padding: 10px;
    color: #5D5D5B;
    border-bottom: 1px #EBEBEB dotted;
}*/ .bingli ul {
    padding: 10px 0px 0px 10px;
    margin: 0px auto;
} .bingli li {
	overflow: auto;
    line-height: 22px;
    color: #5D5D5B;
    border-bottom:1px #EBEBEB dotted;
    margin: 6px 0px;
    padding: 3px 0px;
}
.bingli li:hover{background-color:#fafafa;}
 .bingli .name {
    width: 100%;
    float: left;
    display: block;
    color: #004575;
} .bingli .intro {
    width: 580px;
    float: left;
    margin: 0px;
    padding: 0px 0px 0px 80px;
    display: block;
	word-wrap:break-word;
	word-break:keep-all;
} .bingli .pic {
    float: left;
    display: block;
    border: 1px #ccc solid;
    line-height: 20px;
    padding: 3px 0px 0px 0px;
    width: 124px;
    text-align: center;
    margin: 0px;
    padding-bottom: 0px;
} 
.bingli .pic:hover{background-color:#DEDFE2;}
.comment_box .cnt {
	float:left;
    width: 100%;
/*    border: 1px #D0E1EB solid;*/
	border-top: 0px;
	padding:0px 8px;
}
 .comment_box .cnt ul {
/*    width: 950px;*/
    margin: 0px auto;
} .comment_box .cnt li {
/*    width: 950px;*/
    float:  left;
    padding: 20px 0px;
    border-bottom: 1px solid #AAA;
}  .comment_box .cnt .info {
    width: 680px;
    text-align: left;
    margin: 0px auto;
    display: block;
    float:  left;
} 
.comments-bingli {
width: 680px;
text-align: left;
margin: 0px auto;
display: block;
float: left;
margin-left:70px;
margin-bottom: 20px;
}
.user_box {
    width: 748px;
    border: 1px #FECFA5 solid;
    margin: 0px auto;
    overflow: hidden;
    clear: both;
/*	margin-top: 20px;*/
} .user_box .input_menu {
    width: 748px;
	height: 30px;
	background: url(/images/tab_bg1.gif) repeat-x;
    float: left;
	border:1px #D0E1EB solid;
} .user_box .input_menu h1 {
    line-height: 32px;
    margin: 0px;
    padding: 0px 0px 0px 30px;
    background: url(/images/userh1bg.gif) 10px 6px no-repeat;
    font-size: 18px;
    float: left;
    display: inline;
    color: #004575;
} .user_box .cnt {
    width: 880px;
    padding: 10px;
    float: left;
    color: #999;
    line-height: 30px;
} .user_box .cnt h1 {
    width: 210px;
    float: left;
    height: 50px;
    margin: 0px 0px 0px 10px;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}.listbox {
    width: 958px;
    margin: 0px auto;
} .listbox .menu_tabs {
    width: 959px;
    height: 27px;
    float: left;
    overflow: hidden;
position: relative;vertical-align: baseline;
}
.listbox .menu_tabs .menu_tab3 {width:105px;height:26px;line-height:27px;background:url(/images/box_menu_tab2.gif) no-repeat;text-align:center;border:1px #D7E0E5 solid;border-bottom:0px;float:right;}
.listbox .menu_tabs .menu_tab3 a {color:#F0AE36;font-size:14px;font-weight:bold;}
.vote {
text-align: center;
width:60px;
/*  margin-top: 20px;*/
}
.vote span {
color: #808185;
display: block;
font-weight: bold;
}
.vote-count-post {
display: block;
font-size: 240%;
}
.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .comment-up-off, .comment-up-on, .comment-flag, .flag-off, .vote-accepted-off, .vote-accepted-on, .vote-accepted-off, .vote-accepted-on {
font-size: 1px;
text-indent: -9999em;
}
.vote-up-off, .vote-down-off, .vote-accepted-off, .star-off, .comment-up-off, .flag-off {
cursor: pointer;
}
.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off {
background-image:url(/images/sprites.png);
  background-repeat:  no-repeat; 
overflow:   hidden;
background-position: 0px -265px;
display: block;
height: 25px;
margin: 0px auto;
width: 41px;
}
.vote-down-off {
background-position: 0px -300px;
}
.vote-up-on{background-position:0 -230px;}
.star-off, .star-on {
background-position: 0px -150px;
height: 31px;
width: 33px;
}
.favoritecount {
color: #808185;
text-align: center;
}
.star-on {
background-position: 0px -190px;
}
.vote-down-off{background-position:0 -300px;}
.favoritecount-selected{color:#D4A849;}
.vote-down-on{background-position:0 -330px;}

.form-error {
color: #900;
font-size: 90%;
font-weight: bold;
margin-left: 5px;
}
.post-menu {
padding-top: 2px;
clear:both;
}
.post-menu>a:hover,.edit-tags-wrapper>span>a:hover{background-color:#777;color:#fff;text-decoration:none;}
.tags>a:hover {}
.post-menu > a, .edit-tags-wrapper > span > a {
color: #888;
padding: 0px 3px 2px;
padding-top: 0px;
padding-right: 3px;
padding-bottom: 2px;
padding-left: 3px;
}
.comment-form .edit-comment-cancel {
	.	margin-left: 10px;
}
.owner {
background-color: #E0EAF1;
}
a.comment-user {
white-space: nowrap;
padding: 0;
}
a {
/*color: #07C;*/
text-decoration: none;
cursor: pointer;
}
tr.comment:hover{background-color:#fafafa;}
.dno {
display: none;
}
