<div class="header"> 
  <div class="logo" style="padding-left:280px;"><img src="images/logo.gif" /></div> 
  </div> 
<div class="mainnav" style="height:33px;"> 
  <ul style="margin-left:40px;"> 
   	<li class="index"><a href="#">首页</a></li> 
    <li class="yxhy"><a href="#">医学会议</a></li> 
    <li class="zlxz"><a href="#">资料下载</a></li> 
    <li class="jyjl"><a href="#">经验交流</a></li> 
    <li class="bltl"><a href="#">病例讨论</a></li> 
    <li class="search" style="padding-left:150px;"><input name="" type="text" style="width:80px;border:1px #ccc solid;" /><input name="提交" type="submit" value="查找病例"class="headersearch" /> 
      <a href="#">帮助</a>│<a href="#">注册</a> </li> 
  </ul> 
</div> 
