<%=render :partial => "group_menu"%>
<% if @user %>
	<h1>我的圈子 (<%= @groups.size %>)</h1>
<% else %>
	<h1>所有圈子 (<%= @groups.size %>)</h1>
<% end %>

<div id="content_table">
	<% for group in @groups %>
		<%= render :partial => 'group_brief', :locals=>{:group=>group} %>
	<% end %>
</div>

