<%=render :partial => "group_menu"%>
<%= stylesheet_link_tag 'common' %>
<%= stylesheet_link_tag 'groups' %>		
<div id="add_group">
	<%= render :partial => 'group_form' %>
	<div style="clear:both;"></div>
</div>

