<span style='color:#883133'>	我已被你关注</span>&nbsp;&nbsp;
				<%=link_to_remote '取消关注',:url => unfollow_user_path(user),:loading => "$('follow_me').insert({bottom:$('ajax-loader').clone(true).show()})"%>
