<%#= stylesheet_link_tag 'profile' %>
<style type="text/css" media="screen">
.users_list{
	width: 960px;
	margin: 0px auto;
	overflow: hidden;
}
.users{
/*	width: 100%;*/
	border: 1px #D0E1EB solid;
	margin: 0px auto;
	overflow: hidden;
/*	clear: both;*/
}	
.user{
	float:left;
	width:180px;
	height:50px;
	margin:5px 5px;
}
.search_box{
	height:40px;
}

</style>

<div class='users_list'>
	<div class='search_box'>
		<h3>输入用户名查找医生:  <%=text_field_tag :login%><%=observe_field :login,:url => search_users_path,:frequency => 0.5,:update => :users,:with => :login,:loading => "$('login').insert({after:$('ajax-loader').outerHTML});",:complete => "$('login').next('#ajax-loader').remove();"%></h3>
	</div>
	<div id='users' class='users'>
		<%=render @users%>
		<%=will_paginate @users,:class=>"apple_pagination"%>
	</div>
	
</div>

