<ul>
	<h2><%=link_to_unless_current "个人资料",{:controller=>"/user",:action=>"account"}%></h2>
    <li><%=link_to_unless_current "密码修改",{:controller=>"/user",:action=>"pass_change"}%></li>
    <li><a href="#">收藏夹</a></li>
    <li><a href="#">个人文集</a></li>
    <li><a href="#">待上线功能</a></li>
    <li><a href="#">待上线功能</a></li>
    <li><a href="#">待上线功能</a></li>
</ul>