<div class="doc-footer"><a href="#" class="f12gary">关于我们</a> | <a href="#" class="f12gary">联系我们</a> | <a href="#" class="f12gary">友情链接</a> | <%=link_to "问题或者建议",bug_reports_url%><br />
本站所提供的所有素材版权归原作者所有,本站只供网友参考与交流,未经作者同意请勿用于商业用途<br />
客服QQ：16489875 Email:zhu1230@gmail.com<br />
</div>