<li id='comment_<%=comment.id%>'>
    	<p class="intro"><%=comment.comment%></p>
      <span class="info"><font color="#F39B1D"><%=link_to comment.user.login,user_path(comment.user)%></font> <font color="#999999">评论于</font><font color="#666666"><%=distance_of_time_in_words_to_now comment.created_at%></font></span>       	  </li>