<style type="text/css" media="screen">
	.nav3_sright {width:960px;float:right;padding:6px 0px;}
	.nav3_sright h2 {border:1px #ccc solid;background:#F6F6F6;height:16px;line-height:16px;float:right;font-size:12px;font-weight:normal;margin:0px 3px;padding:0px 3px;}
</style>
<div class="nav3_sright">
    <h2><a href="#">其它链接一</a></h2>
    <h2><a href="#">其它链接二</a></h2>
    <h2><a href="#">其它链接三</a></h2>
    <h2><a href="#">其它链接四</a></h2>
</div>