<style type="text/css" media="screen">
	<!--
	.nowpsn {width:960px;padding:0 0px;height:30px;margin:10px auto;clear:both;border-bottom:1px solid #d8d8d8;}
	.nowpsn h1 {font:normal 18px "黑体";float:left;line-height:30px;margin-top: 0;padding-left: 20px;}
	.nowpsn span {font-size:12px;float:right;line-height:30px;padding-right: 20px;}
	-->
</style>
<div class="nowpsn">
	<h1><%=easy_title%></h1>
    <span><%=link_to "首页",index_url%> > <a href="#">站内信</a> > <a href="#">写信</a></span>
</div>