<div id="network_info_home" class="widget_content">
	<div class="module">
		<div class="module_body">
			<%= "doctorthinking"%><br/>
			<% if logged_in? %>
				<span id="invite_link"><%= link_to "Invite a friend to doctorthinking", new_invite_path %></span>
			<% end %>
		</div>
	</div>
</div>