<div class="header">
  <div class="logo" style="padding-left:280px;"><img src="/images/top/logo.gif" /></div>
  </div>
<div class="mainnav" style="height:33px;">
  <ul style="margin-left:40px;">
	 <%=render :partial=>"shared/menu_top" %>
    <li class="search" style="padding-left:150px;"><input name="" type="text" style="width:80px;border:1px #ccc solid;" /><input name="提交" type="submit" value="查找病例"class="headersearch" /> 
      <a href="#">帮助</a>│<a href="#">注册</a> </li>
  </ul>
</div>