<table border="1" align="center">
  <tr> 
    <td>
<div align="justify"><%=link_to_unless(logged_in?,"注册",signup_url) do |name| "" end%></div></td>
    <td>
<div align="justify"><%=link_to "首页",:controller=>"biz/bingli_info",:action=>"index"%></div></td>
    <td>
<div align="justify"><%=link_to_unless(logged_in?,"登入",login_url) do || link_to current_user.nickname,:controller=>"user/personal",:action=>"index",:id=>current_user.id end%></div></td>
    <td>
<div align="justify"><%=logged_in? ? link_to("退出",logout_url) : ""%></div></td>
    <td>
</td>
  </tr>
</table>