<div id="sponsor_msg">
	<div class="msg_box">
		Sponsor Doctorthinking.com<br/>
		There are currently opportunities to sponsor the platform of Clinic Doctor's Community, Doctorthinking.com.
		Sponsor's will get ad placement on the homepage.
	</div>
</div>
