<style type="text/css" media="screen">
	.aboutus{
		width:960px;
		margin:10px auto;
		float:left;
	}
</style>
<div class='aboutus'>
	<p id='about_cotent' style='font-size:22px;padding:20px 20px;background-color:#F3F7F8;line-height:31px;'>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;医思网---Doctorthinking，创建于2010年11月，创建者朱医生有感于现如今没有专业的病例收集及讨论系统，收集与研讨病例极为繁琐而艰难。为了解决广大同行不再为病例的收集与研讨困难的问题所困扰，为了广大同行更好提高自身技能，以便更好的为病人服务，我们竭精尽力创建此网站。
		我们秉承着强烈的社会责任感，凭借着精湛的计算机技术，以实用创新为服务特色，树立一流医疗健康类网络服务商形象。在经过漫长的系统研究与开发，我们成功地创建了现如今最新、最专业的病例收集整理系统，为广大同行提供一个完善的学术科研交流，疑难病例讨论的平台。
		
	</p>
</div>
<script type="text/javascript" charset="utf-8">
	new Effect.Corner('about_cotent', "30px;cc:#ffffff");
</script>