<h1>用户账号与隐私保护</h1>

<h2>1. 经医思网注册系统完成注册程序并通过身份认证的用户即为医思网的正式用户，认证后即获得医思网规定用户所应享有的一切权限；未经认证仅享有医思网规定的部分会员权限。医思网有权对会员的权限设计进行变更。</h2>
<h2>2. 如发现用户帐号中含有不雅文字或不恰当名称的，医思网保留取消其用户资格的权利。</h2> 
<li>(1)请勿以党和国家领导人或其他社会名人的真实姓名、字号、艺名、笔名注册； </li>
<li>(2)请勿以国家机构或其他机构的名称注册； </li>
<li>(3)请勿注册不文明、不健康名字，或包含歧视、侮辱、猥亵类词语的帐号； </li>
<li>(4)请勿注册易产生歧义、引起他人误解或其它不符合法律规定的帐号。</li>
<h2>3. 用户帐号的所有权归医思网，用户仅享有使用权。3个月未使用的用户帐号，医思网保留收回的权利。</h2>
<h2>4. 用户有义务保证密码和帐号的安全，用户利用该密码和帐号所进行的一切活动引起的任何损失或损害，由用户自行承担全部责任，医思网不承担任何责任。如用户发现帐号遭到未授权的使用或发生其他任何安全问题，应立即修改帐号密码并妥善保管，如有必要，请通知医思网。因黑客行为或用户的保管疏忽导致帐号非法使用，医思网不承担任何责任</h2>。
<h2>5. 医思网不对外公开或向第三方提供单个用户的注册资料及用户在使用网络服务时存储在医思网的非公开内容，但下列情况除外：</h2> 
<li>(1)事先获得用户的明确授权； </li>
<li>(2)根据有关的法律法规要求； </li>
<li>(3)按照相关政府主管部门的要求； </li>
<li>(4)为维护社会公众的利益。</li>
<h2>6. 医思网可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与医思网同等的保护用户隐私的责任，则医思网有权将用户的注册资料等提供给该第三方。</h2>
<h2>7. 在不透露单个用户隐私资料的前提下，医思网有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。</h2>
