<style type="text/css" media="screen">
.tags_list{
	width: 960px;
	margin: 0px auto;
	overflow: hidden;
}	
.search_box{
	height:40px;
	margin-top:10px;
}
#tags .tags{
	margin:5px 5px;
	
}

</style>
<div class='tags_list'>


	        <div id='corner' style='line-height:20px;background-color:#EFF4F6;padding:20px;'>&nbsp;&nbsp;&nbsp;&nbsp; 标签是一种灵活、有趣的病例资料分类方式，可以为每篇病例讨论添加一个或多个标签，然后可以看到医思网上所有和您使用了相同标签的病例讨论内容，正确使用标签可以让同行更容易找到并且参与你的病例讨论，由此和其他用户产生更多的联系和沟通。</div>
<div class="search_box">
		<h3>输入查找标签:  <%=text_field_tag :search_tag%><%=observe_field :search_tag,:url => search_tags_path,:frequency => 0.5,:update => :tags_update,:with => :search_tag,:loading => "$('search_tag').insert({after:$('ajax-loader').outerHTML});",:complete => "$('search_tag').next('#ajax-loader').remove();"%></h3>
	</div>
	<div id='tags_update' class='tags'>
		<div id='tags' class='tags'>
		<%=render @tags%>
		</div>
		<div style='clear:both;'><%=will_paginate @tags,:class=>"apple_pagination"%></div>
	</div>
</div>
<script type="text/javascript" charset="utf-8">
	new Effect.Corner('corner', "30px;cc:#ffffff");
</script>