<h1>Misc::Search#tag</h1>
<%=render :partial=>"shared/bingli_info/search_box_index"%>
<%=render :partial=>(params[:type]=="participation" ? "shared/bingli_info/list_bingli_comments" : "shared/bingli_info/list")%>
<p>Find me in app/views/misc/search/tag.html.erb</p>
