<%id = (post.instance_of? BingliComment) ? post.id : "bingli-"+post.id.to_s%>
<div class="comments">
        <table>
        	<tbody  id="comments-<%=id%>">
          		<%=render :partial=>'biz/comments/comment',:collection=>post.comments%>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td class="comment-form">
						<form id="add-comment-<%=id%>">
							<!-- <table>
															<tbody>
																<tr>
																	<td>
																		<textarea name="comment" cols="68" rows="3" tabindex="204"></textarea>
																	</td>
																	<td>
																		<input type="submit" value="Add Comment" tabindex="205">
																	</td>
																</tr>
																<tr>
																	<td colspan="2"><span class="text-counter cool">最少5个字符</span><span class="form-error"></span></td>
																</tr>
															</tbody>
														</table> -->
						</form>
					</td>
				</tr>
			</tfoot>
    </table>
</div>
	<div style="float:left;">
	<%= link_to_function "添加评论","",{:id=>"comments-link-#{id}",:class=>"comments-link", :title=>"添加评论"} if logged_in? %>
	        </div>
	