<div id='yiwen'>
        <div id="yiwen_blank" style="display:none">
        	<span class="tab">
    <h1>疑问描述：</h1>
            <%=text_area_tag "yiwen[]","","style"=>"width:500px;height:100px;border:1px #889BAA solid;color:#999;font-size:12px;padding:6px;" %><%=link_to_function '取消',"$(this.parentElement.parentElement).remove()" %>
			    <font color="#AFAFAF">
        可填写多项
    </font>
</span>
        </div>
        </div>
    
   

